.container-small-card{
  border: solid white 1px;
  margin-bottom: 15px;
  /* margin-left: 10px;
  margin-right: 10px; */

  width: 700px;


  /* align-items: flex-start;
  justify-content: flex-start; */
}

.container-small-card-content{
  display: flex;
  flex-direction: row;
}
.small-card-photo>img{
  width: 200px;
  margin-right: 20px;

}


.small-card-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-small-card-separator{
  margin-top: 10px;

}
